.btn-yellow {
    background-color: #ffeb3b;
    color: black;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yellow a {
    color: black;
    text-decoration: none;
}

.btn-yellow:hover {
    background-color: #faf19e;
}

.btn-red {
    background-color: #f44336;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-red:hover {
    background-color: #e93528;
}

.btn-green {
    background-color: #28a745;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.btn-green:hover {
    background-color: #218838;
}

.btn-darkblue {
    background-color: #003366;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-status-green {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-status-blue {
    background-color: #2196f3;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-status-red {
    background-color: #e53935;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center-stuff {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.center-stuff .btn-yellow{
  
    background-color: #ffeb3b;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

    